{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-main-section">
        <div class="box-header box-main-header-sub-content">
          <h3 class="box-title">Add automations</h3>
        </div>
        <form class="box-main-section-form-input-section">
          <div class="combine-group-section">
            <label class="name">NAME</label>
            <input type="text" value="" placeholder="">
          </div>
          <div class="combine-group-section">
            <label class="name">Geography</label>
            <select>
              <option value="">abc</option>
              <option value="">def</option>
              <option value="">ghi</option>
            </select>
          </div>
          <div class="combine-group-section">
            <label class="name">Seniority level</label>
            <select>
              <option value="">abc</option>
              <option value="">def</option>
              <option value="">ghi</option>
            </select>
          </div>
          <div class="combine-group-section">
            <label class="name">Years at company</label>
            <select>
              <option value="">abc</option>
              <option value="">def</option>
              <option value="">ghi</option>
            </select>
          </div>
          <div class="combine-group-section">
            <label class="name">function</label>
            <select>
              <option value="">abc</option>
              <option value="">def</option>
              <option value="">ghi</option>
            </select>
          </div>
          <div class="combine-group-section-main-two">
            <label class="name">frequency day</label>
            <div class="combine-group-section-main-three">
              <h3>Day</h3>
              <select>
                <option value="">Monday</option>
                <option value="">Tuesday</option>
                <option value="">Wednesday</option>
                <option value="">thrusday</option>
                <option value="">friday</option>
                <option value="">saturday</option>
              </select>
            </div>
            <div class="combine-group-section-main-three four">
              <h3>Rate</h3>
              <select>
                <option value="">abc</option>
                <option value="">def</option>
                <option value="">ghi</option>
              </select>
            </div>
          </div>
          <div class="combine-group-section-submit-btn">
            <input type="submit" value="save">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}