{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="content">
<div class="row">
  <div class="col-xs-12">
    <div class="box box-main-section-approved">
      <div class="box-header box-main-header-sub-content-approved">
        <a href="#">Approve and add to database</a>
      </div>
      <div class="box-body box-main-body">
        <table id="example2" class="table table-bordered table-hover approved-database">
          <thead>
            <tr>
              <th>ID</th>
              <th>COMPANY NAME</th>
              <th>NAME</th>
              <th>SENIORITY LEVEL</th>
              <th>FU8NCTION</th>
               <th>DEGREE</th>
               <th>GRAD. YEAR START</th>
               <th>GRAD. YEAR END</th>
               <th>URL</th>
               <th>Date of entry</th>
               <th>AUTOMATION ID (which automation it came from)</th>
               <th>Is duplicated</th>
             </tr>
           </thead>
           <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>John</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>3/29/2019</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}