{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-main-section">
        <div class="box-header box-main-header">
          <h3 class="box-title">Users</h3>
          <button type="button" class="btn btn-default btn-success" data-toggle="modal" data-target="#modal-default">
                New User
              </button>
          <!-- <div class="box-title-button">
            <div class="box-body">
              
            </div>
          </div> -->
        </div>
        <div class="box-body box-main-body">
          <table class="table table-bordered table-striped datatable">
            <thead>
              <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Names</th>
                <th>Email</th>
                <th>Active</th>
                <th>Edit | Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for data in user %}
              <tr>
                <td>{{data.username}}</td>
                <td>{{data.first_name}}</td>
                <td>{{data.last_name}}</td>
                <td>{{data.email}}</td>
                <td><button class="btn btn-info">Active</button></td>
                <td><button type="button" class="btn btn-primary" value="" data-toggle="modal" data-name="" data-subtitle="" data-description="" data-target="#modal-edit" onclick=""><i class="fa fa-edit"></i></button>

                    <button type="button" value="" data-toggle="modal" data-target="#modal-danger" class="btn btn-danger" onclick=""><i class="fa fa-trash"></i></button>
                  </button>
                </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Names</th>
                <th>Email</th>
                <th>Active</th>
                <th>Edit | Delete</th>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<form id="userform" method="POST">
  {% csrf_token %}
  <div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create User</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
                     <label for="username"> Username</label>
                     <input type="text" name="username" class="form-control" required>
                  </div>
                  <div class="form-group">
                     <label for="firstname"> First Name</label>
                     <input type="text" name="fname" class="form-control" required>
                  </div>
                  <div class="form-group">
                     <label for="lastname"> Last Name</label>
                     <input type="text" name="lname" class="form-control">
                  </div>
                  <div class="form-group">
                     <label for="phone"> Mobile Number</label>
                     <input type="number" name="pnumber" class="form-control">
                  </div>
                  <div class="form-group">
                     <label for="email"> Email</label>
                     <input type="email" name="emailid" class="form-control">
                  </div>

                  <div class="form-group">
                  <label for="dob">Date Of Birth</label>
                  <input type="text" name="dob" class="form-control date-picker" placeholder="YYYY/MM/DD" required>
                </div>
                <div class="form-group">
                  <label>gender</label>
                  <select required name="gender" class="form-control">
                    <option value="" selected disabled>--select gender--</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                  </select></div>

                  <div class="form-group">
                    <label for="image"> Select a image to upload</label>
                     <input type="file" name="img" value=""class="form-control">
                  </div>

                  <div class="form-group">
                     <label for="password"> Create Password</label>
                     <input type="password" name="createpass" class="form-control" required>
                  </div>

                  <div class="form-group">
                     <label for="confirmpassword"> Confirm Password</label>
                     <input type="password" name="confirmpass" class="form-control" required>
                  </div>
                  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary"></input>
      </div>
    </div>
  </div>
</div>
</form>

<div class="modal modal-danger fade in" id="modal-danger" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                  <h4 class="modal-title">Delete This User</h4>
                </div>
                <div class="modal-body">
                  <h1>Are You Sure ?</h1>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline  pull-left" data-dismiss="modal">Close</button>
                    <form method="">
                      <input type="hidden" name="" value="">
                      <input type="hidden" name="" value="">
                      <button type="submit" class="btn btn-outline">Yes</button>
                    </form>

                  </div>
                </div>
              </div>
            </div>

<div class="modal modal-default fade in" id="modal-edit">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                  <h4 class="modal-title">Edit Details</h4>
                </div>
                <div class="modal-body">
                  <h4 class="modal-title"></h4><br>
                  
                  <form method="">
                    <input type="hidden" name="" value="">
                   <div class="form-group">
                     <label for="firstname">First Name</label>
                     <input type="text" name="" class="form-control">
                  </div>
                  <div class="form-group">
                     <label for="lastname">Last Name</label>
                     <input type="text" name="" class="form-control">
                  </div>
                  <input type="hidden" name="">
                </form></div>
                <div class="modal-footer">
                  <button type="button" class="btn pull-left btn-warning exit" data-dismiss="modal">Close</button>

                  <input type="hidden" name="" value="">
                  <button type="submit" class="btn btn-success ">Submit</button>
                
                
              </div>
            </div>
          </div>
        </div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $('#userform').on('submit', function() {

    var error = false;
    var password = $("input[name='createpass']").val();
    var confirm = $("input[name='confirmpass']").val();
    var username = $("input[name='username']").val();

    var users = {{user_list | safe}};
    for (let user of users){
      if (user == username){
        toastr.error("Username not available");
        error = true;
      }
    }

    if (password !== confirm){
      toastr.error('password and confirm password didn\'t matched');
      error = true;
    }

    if (error == true){
      return false;
    }

    return true;
  });
</script>
{% endblock %}