{% load static %}
<aside class="main-sidebar">
  <section class="sidebar">
    <!-- <ul class="sidebar-menu tree" data-widget="tree">
      <li class="active treeview">
        <a href="#"><i class="fa fa-dashboard"></i> 
           <span>Users</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
          <li class="active"><a href=""><i class="fa fa-circle-o"></i>User Details</a></li>
        </ul>
      </li>
    </ul> -->
  </section>
</aside>