{% load static %}
<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="active treeview">
        <a href="#"><i class="fa fa-dashboard"></i> 
          <!-- <i class="fa fa-dashboard"></i> --> <span>Automation</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
          <li class="active"><a href="{% url 'add_automation' %}"><i class="fa fa-circle-o"></i> Add automations</a></li>
          <li><a href="{% url 'pending_approval_list' %}"><i class="fa fa-circle-o"></i> Pending approval lists</a></li>
        </ul>
      </li>
      <li class="linked-account"><a href="{% url 'linked' %}"><i class="fa fa-laptop"></i><span>Linked account</span></a></li>
      <li class="Database"><a href="{% url 'database' %}"><i class="fa fa-table"></i><span>Database</span></a></li>
    </ul>
  </section>
</aside>